.fullSc {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    background-image: url("./asset/login.avif");
    background-size: cover;
}

.main1 {
    background-color: whitesmoke;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px -20px;
}

.email_pass {
    height: 30px;
    width: 60%;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 20px;
}

.btn {
    height: 30px;
    width: 20%;
    background-color: whitesmoke;
    border: 1px solid wheat;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
}

.btn:hover {
    background-color: blue;
    color: aliceblue;
}

.error {
    color: red;
    font-size: 12px;
    margin: 0%;
    padding: 0%;
    padding: 5px;
}